*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#header{
    background: url("img/home-back.png") no-repeat center right/cover;
    height: 100vh;
    color: #fff;
}

.container{
    max-width: 1280px;
    padding: 0 2rem;
    margin: auto;
}

#nav-items{
    display: flex;
    justify-content: space-between;
    padding-top: 1.6rem;
}

#nav-items ul{
    display: flex;
}

#nav-items li a:hover{
    text-decoration: underline #fff;
    transition: border-color 0.5s;
}

.current{
    border-color: #ffbc00;
}

#nav-items ul li{
    padding: 1rem 1.5rem;
    list-style-type: none;
}

#nav-items ul a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: larger;
}

#logo{
width: 70px;
height: 70px;
color: #fff;
text-transform: capitalize;
text-shadow: #999;
font-style: italic;
font-weight: bolder;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 8px;
font-size: 3rem;
}

#header .header-content{
    padding-top: 20rem;
    text-align: center;
}

#header h1{
    line-height: 2rem;
    font-size: 4rem;
}

#show{
    text-decoration: underline yellow;
    font-size: 2rem;
}

.btn-light{
    border: 2px solid black;
    padding: 0.8rem;
    color: #333;
    background-color: #f4f4f4;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-light:hover{
    background-color: yellow;
}

#hide{
    visibility: hidden;
}

#show:hover + #hide{
    display: block;
    font-size: 22px;
    font-weight: bold;
}

.sec-a{
    padding: 3rem;
}

.container-a{
    margin: auto;
    padding: 0 2rem;
    max-width: 1280px;
    overflow: hidden;
}

.sec-a-title{
    font-size: 2rem;
    display: block;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.bottom-line{
    height: 2px;
    width: 8rem;
    background: #ffbc00;
    display: block;
    margin: 0 auto 2rem auto;
}

.sec-a-lead{
    font-size: 1.5  rem;
    text-align: center;
}

.sec-a-specials{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
}

.special-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
}

.fa-regular {
    color: #ffbc00;
    padding-bottom: 0.4rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.fa-code{
    color: #ffbc00;
    padding-bottom: 0.4rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.fas{
    color: #ffbc00;
    padding-bottom: 0.4rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.fa-music{
    color: #ffbc00;
    padding-bottom: 0.4rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

h2 h3 h4{
    text-transform: uppercase;
}

.special-container p{
    text-align: center;
}

.special-container h2{
    text-align: center;
}

/* Section B */
.sec-b{
    padding: 2rem 0;
    
}

.container-b{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    /* justify-content: space-between;    */
    width: 100%;
}

.status-1{
    height: 250px;
    width: 30%;
    background: #f4f4f4;
    padding: 3rem 0;
    text-align: center;
}
.status-2{
    height: 250px;
    width: 30%;
    background: #ccc;
    padding: 3rem 0;
    text-align: center;
}
.status-3{
    height: 250px;
    width: 30%;
    background: #f4f4f4;
    padding: 3rem 0;
    text-align: center;
}
.status-4{
    height: 250px;
    width: 30%;
    background: #ccc;
    padding: 3rem 0;
    text-align: center;
}

.container-b ul{
    list-style-type: none;
}

.fa-users{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 5rem;
    color: black;
}

.fa-award{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 5rem;
    color: black;
}

.fa-hourglass-start{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 5rem;
    color: black;
}

.ability{
    height: 250px;
    width: 10%;
    padding: 3rem 0;
    text-align: center;
    margin: auto;
}

.fa-code-branch{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 5rem;
    color: black;
}

.status-title{
    line-height: 2;
}

.process-icon{
    background-color:#333;
    border-radius: 50%;
    height: 140px;
    width: 150px;
    text-align: center;
    color: #fff;
    position: relative;
    padding: 2rem;
    transition: all 1s;
    line-height: 70px;
}

.process-step{
    position:absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #fff;
    background: #ffbc00;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 1rem;
    line-height: 20px;
}

.process-icon:hover{
    background: #ffbc00;
    height: 155px;
    width: 170px;
    border-radius: 100%;
    text-align: center;
}

.status-number{
    font-size: 2rem;
    font-weight: bold;
}

/* section c */
.sec-c{
    padding: 2rem 0;
    
}
.sec-c-title{
    font-size: 2rem;
    display: block;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.sec-c-lead{
    font-size: 1.5  rem;
    text-align: center;
}


.ability-container{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    /* justify-content: space-between;    */
    width: 100%;
}


/* footer */

.footer{
    padding: 50px 0 50px 0;
    max-height: 800px;
    background-color: #333;
    margin-top: 50px;
}

.footer p{
    color: #ffffff;
}

.footer-container{
    max-width: 50%;
    margin: auto;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content{
    width: 30%;
    /* padding: 0 15px 0 15px; */
}

.content h4{
    font-size: 18px;
    color: #ffffff;
    text-decoration: capitalize;
    margin-bottom: 5px;
    font-weight: 500;
    position: relative;
}

.bottom-line-1{
    height: 1px;
    width: 4rem;
    background: #ffbc00;
    display: block;
    margin: 0.5rem 0;
  
}

p{
  
    font-size: 16px;
    text-transform: capitalize;
    /* color: #ffffff; */
    color: #333;
  
}

.facebook{
    display: inline-block !important;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin: 0 10px 10px 0;
text-align: center !important;
line-height: 40px !important;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.facebook:hover{
    color: black;
    background-color: #ffbc00;
}

.insta{
    display: inline-block !important;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin: 0 10px 10px 0;
text-align: center !important;
line-height: 40px !important;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.insta:hover{
    color: black;
    background-color: #ffbc00;
}

.linked{
    display: inline-block !important;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin: 0 10px 10px 0;
text-align: center !important;
line-height: 40px !important;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}

.linked:hover{
    color: black;
    background-color: #ffbc00;
}


.contact{
    color: #fff;
}

.fa-envelope{
    color: #fff;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  
}

.fa-phone{
    margin-top: 25px;
    color: #fff;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
  
}

.btn-dark{
    font-size: 1.2rem;
    margin-top: 30px;
    color: #f4f4f4;
    background-color: #333;
    text-decoration: none;
    display: inline-block;
    padding: 0.8rem;
    transition: all 0.5s;
    border: none;
    cursor: pointer;
}

.btn-dark:hover{
    color: black;
    background-color: #ffbc00;
}

ul{
    list-style: none;
}

a{
    font-size: 16px;

color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}

li{
    margin-bottom: 12px;
}
a:hover{
    color: #ffbc00;
    margin-left: 5px;
}


/* About.html */


#header-about{
    background: url("img/home-back.png") no-repeat center right/cover;
    height: 15vh;
    color: #fff;
    border-bottom: 3px solid #ffbc00;
}

.about-a{
    padding: 3rem;
}
.about-container-a{
    padding: 0 2rem 0 2rem;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
}

.about-title{
    font-size: 2rem;
    display: block;
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
}

.about-a-lead{
    font-size: 1.5  rem;
    text-align: center;
}

.about-info{
    display: grid;
    grid-template-areas: "bio-img bio bio" "aw1 aw2 aw3";
    grid-gap: 1.2rem;
    margin: auto;
}

.bio-image{
    grid-area: bio-img;
     grid-row-start: bio-img;
     grid-row-end: bio-img;
    grid-column-start: bio-img;
    grid-column-end: bio-img;
    width: 80%;
}

.about-lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about-bio{
    grid-area: bio;
    border-left: 3px solid #ffbc00;
    padding: 0.8rem;
    background-color: rgb(226, 226, 226);
    text-align: center;
    margin-left: -100px;
    width: 80%;
}

.about-bio p{
    font-size: 1rem;
}

.award-1{
    grid-area: aw1;
    margin-top: 30px;
    height: auto;
    width: auto;
    text-align: center;
}
.award-1 h3{
    text-align: center;
}

.award-2 h3{
    text-align: center;
}

.award-3 h3{
    text-align: center;
}

.award-2{
    grid-area: aw2;
    margin-top: 30px;
    height: auto;
    width: auto;
    text-align: center;
}

.award-3{
    grid-area: aw3;
    margin-top: 30px;
    height: auto;
    width: auto;
    text-align: center;
}
.fa-about{
    color: #ffbc00;
    padding-bottom: 0.4rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 5rem;
    text-align: center;
    align-items: center;
}

/* Section b of about */

.bg-dark{
    background-color: #333;
    color: #ffffff;
    padding: 3rem 0;
}

.about-container{
    max-width: 1280px;
    padding: 0 2rem;
    margin: auto;
    overflow: hidden;
}

#progressHtml{
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#progressDoneHtml{
    height:100%;
    color: #fff;
    text-align: center;
    background: #ffbc00;
    transition: 3s ease-in-out;
}


#progressCss{
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#progressDoneCss{
    height:100%;
    color: #fff;
    text-align: center;
    background: #ffbc00;
    transition: 3s ease-in-out;
}


#progressBootstrap{
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#progressDoneBootstrap{
    height:100%;
    color: #fff;
    text-align: center;
    background: #ffbc00;
    transition: 3s ease-in-out;
}



#progressSass{
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#progressDoneSass{
    height:100%;
    color: #fff;
    text-align: center;
    background: #ffbc00;
    transition: 3s ease-in-out;
}



#progressJavascript{
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#progressDoneJavascript{
    height:100%;
    color: #fff;
    text-align: center;
    background: #ffbc00;
    transition: 3s ease-in-out;
}



#progressReact{
    overflow: hidden;
    height: 20px;
    background: #ccc;
    border-radius: 5px;
    margin-bottom: 0.6rem;
}

#progressDoneReact{
    height:100%;
    color: #fff;
    text-align: center;
    background: #ffbc00;
    transition: 3s ease-in-out;
}

#about-c{
    padding: 4rem 0;
}

.about-c-lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;   
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:0.5rem;
    padding: auto;
    margin-left: 315px;
    margin-right: 315px;
}

#about-c .testimonials p{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.4rem;
}

#about-c .testimonials ul{
    list-style: none;
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

/* Increment Counter */

.Increment-counter{
    background-color: #ffbc00;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin-bottom: -50px;
}

.counter-container{
    text-align: center;
    margin: 30px 50px;
}

.counter{
    font-size: 60px;
    margin-top: 10px;
}

.counter-logo{
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
    font-size: 6rem;
}
